@media screen and (max-width: 770px){
    .nav{
        display: none;
    }
    .nav{
        display: block;
        margin: 0px;
        padding: 0px;
        display: none;
        margin-left: 400px;
     }
     .nav ul{
         display: block;
         list-style-type: none;
         background-color: black;
         margin-top: 5px;
         padding-left: 0px;
         width: 280px;
     }
     .nav ul > li{
         display: block;
         padding: 20px 20px 20px 40px;
         margin-left: 0px;
         
     }
     .nav > li > a{
         display: block;
         
     }
    .show{
        display: block;
    }
    .header-login{
        margin-left: 150px;
    }
    .header-login select{
        margin-left: 250px;
    }
    .sign{
        display: none; 
    }
    .pic{
        height: 500px;
        position: relative;
    }
    .owl-dots{
        position: absolute;
        top: 500px;
        margin-left: 46%;
    }
 
    .toggle-navbar{
        display: block;
        height: 3px;
        width: 32px;
        background-color: #E4D5D5;
        position: fixed;
        z-index: 2;
        top:30px;
        right: 10px;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 10px;
    }
    .toggle-navbar::before,.toggle-navbar::after{
        content: "";
        height: 3px;
        width: 32px;
        background-color:#E4D5D5;
        position: absolute;
        display: block;
        left: 0;
    }
    .toggle-navbar::before{
        top:-8px
    }
    .toggle-navbar::after{
        bottom:-8px;
    }
    #manager{
        display: flex;
        flex-direction: column;
    }
    .manager-img{
        width: 100%;
    }
    .manager-name{
        margin-left: 115px;
    }
    .manager-profile{
        padding:20px ;
    }
    .results-container h1{
        margin-left: 90px;
    }
    .wrapper-select{
        padding-top: 20px;
    }
}
@media screen and (max-width: 425px){
    #first-team h1{
        font-size: 26px;
        margin-left: 60px;
    }
    #manager h1{
        font-size: 26px;
        margin-left: 60px;
        margin-top: -10px;
    }
    #results h1{
        font-size: 26px;
        margin-left: 150px;
    }
    header{
        height: 80px;
    }
    .header-login select{
        margin-left: -30px;
        font-size: 16px;
    }
    .pic-logo{
        font-size: 20px;
        margin-top: auto;
    }
    .pic{
        margin-top: 80px;
        height: 300px;
        position: relative;
    }
    .owl-dots{
        position: absolute;
        top: 320px;
        margin-left: 40%;
    }
    .toggle-navbar{
        display: block;
        height: 3px;
        width: 28px;
        background-color: #E4D5D5;
        position: fixed;
        z-index: 2;
        top:30px;
        right: 10px;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 10px;
    }
    .toggle-navbar::before,.toggle-navbar::after{
        content: "";
        height: 3px;
        width: 28px;
        background-color:#E4D5D5;
        position: absolute;
        display: block;
        left: 0;
    }
    .toggle-navbar::before{
        top:-8px
    }
    .toggle-navbar::after{
        bottom:-8px;
    }
    .nav{
       display: block;
       margin: 0px;
       padding: 0px;
       display: none;

    }
    .nav ul{
        display: block;
        list-style-type: none;
        background-color: black;
        margin-top: 5px;
        padding-left: 0px;
        width: 280px;
    }
    .nav ul > li{
        display: block;
        padding: 20px 20px 20px 40px;
        margin-left: 0px;
        
    }
    .nav > li > a{
        display: block;
        
    }
    .header-login .sign{
        display: block;
        margin: 0;
        padding: 0;
        margin-left: -90px;
        display: none;
    }
    .show{
        display: block;
    }
    .manager-img img{
        width: 300px;
        height: 300px;
    }
    .manager-name{
        margin-top: -70px;
        margin-left: 35px;
    }
    .manager-name__top{
        font-size: 16px;
    }
    .manager-name__bottom{
        font-size: 90px;
    }
    .manager-profile{
        font-size: 16px;
    }
    .wrapper-select{
        margin-left: 35px;
    }
    .wrapper-select select{
        height: 30px;
        font-size: 20px;
    }
    .footer-top{
        align-items: center;
    }
    .footer-top img{
        width: 90px;
        height: 50px;
    }
    .footer-bottom__list{
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 20px;
    }
}